@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	margin: 0;
	background-color: black;
}

.phone-container{
	background-color: white;
	min-width: 320px;
	min-height: calc(320px*1.6);
	border: 1px solid black;
	border-radius: 8px;
	display:flex;
	flex-direction: column;
	padding: 5px;
}
.screen-container{
	height: 60%;
	width: 100%;
	border:1px dotted black;
}

.keyboard-container{
	background-image: url('images/birthday-boy.jpg') ;
	background-size: cover;
	
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.key-line{
	height: calc(100%/4);
	margin-block: 2px;
	display:flex;
	justify-content: center;
	padding-block: 2px;
}
.key{
	cursor: pointer;
}

.key{
	background-color: rgba(241, 13, 13, 0.4);
	font-weight: bolder;
	color: white;
	z-index: 50;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: auto;
	padding-inline: 10px;
	height: 90%;
	margin: 3px;
	border-radius: 6px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	box-shadow: 0 0 1px 1px rgb(237, 148, 148);
}
.key.control{
	background-color: rgba(148, 19, 247, 0.4);
	box-shadow: 0 0 1px 1px rgb(221, 99, 239);
}

#space{
	width: 40%;
}


